* {
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    /* background-color: #f4f4f4; */
    background-color: #e0f7fa;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h1 {
    color: #333;
    text-align: center;
    margin-bottom: 20px;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* background-color: #fff; */
    background-color: #f0fff4;
    max-width: 600px;
    margin: 20px auto;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

label {
    font-weight: bold;
}

input[type="number"] {
    padding: 8px;
    width: 60%;
    margin: 10px 0;
    box-sizing: border-box;
    border-radius: 4px;
    border: 1px solid #ccc;
}

button {
    padding: 10px 20px;
    background-color: #28a745;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

button:hover {
    background-color: #218838;
}

.result {
    margin-top: 20px;
}

p {
    margin: 5px 0;
}

.even {
    color: blue;
}

.odd {
    color: red;
}